.squares{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.square{
    border: 1px solid black;
}

.X{
    background-color: red;
}

.O{
    background-color: yellow;
}